@font-face { font-family: "Open Sans"; src: url('../font/380065918-OpenSans-Regular.eot'); src: url('../font/380065918-OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../font/380065918-OpenSans-Regular.svg#Open Sans') format('svg'), url('../font/380065918-OpenSans-Regular.woff') format('woff'), url('../font/380065918-OpenSans-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: "PT Sans"; src: url('../font/461212159-PTS76F.eot'); src: url('../font/461212159-PTS76F.eot?#iefix') format('embedded-opentype'), url('../font/461212159-PTS76F.svg#PT Sans') format('svg'), url('../font/461212159-PTS76F.woff') format('woff'), url('../font/461212159-PTS76F.ttf') format('truetype'); font-weight: normal; font-style: normal; }
* { margin: 0; padding: 0; }
img { border: none; }
body { background: #FFF; margin: 0; padding: 0; overflow-x: hidden; overflow-y: auto; }
.wrapper { width: 100%; overflow: hidden; }
.header { width: 100%; margin: 0 auto; position: relative; }
.header_outer { width: 100%; height: auto; background-color: #333; }
.header_row1 { margin: 0 auto; height: auto; display: table; width: 81%; }
.header_row2 { display: table; width: 85%; }
.header_col1 { height: auto; display: table; }
span.my-account a { font-family: "Open Sans"; color: #FFF !important; height: auto; border-right: 2px solid #d6d6d6; padding-right: 12px; text-decoration: none; }
span.phone-link a { font-family: "Open Sans"; color: #FFF; height: auto; padding-right: 12px; text-decoration: none; }
.header_col1 h2 { float: left; font-family: "Open Sans"; font-size: 11px; color: #FFF; margin-top: 7px; padding-right: 12px; text-decoration: none; padding-left: 20px; font-weight: normal; }
.header_col2 { float: right; }
.header_col2 .tweeter { background-color: #666666; }
.header_col2 .tweet a { float: left; font-family: "Open Sans"; font-size: 10px; color: #FFF; min-width: 68px; line-height: 28px; text-align: center; text-decoration: none; }
.header_col2 .tweet a:hover { opacity: 0.7; }
.header_col2 .facebook { background-color: #999999; }
.header_col2 .google { background-color: #666666; }
.header_col2 .linkedin { background-color: #999999; }
.header_col2 .youtube { background-color: #666666; }
.header_bg { background-color: #F4F4F4; }
.header_bg .heaer_row2 { margin: 0 auto; display: table; }
.header_col3 { float: left; }
.logo { margin-top: 33px; margin-bottom: 45px; }
.header_col4 { float: right; min-height: 148px; }
.header_col4 .hdr_menu { margin: 47px 0 0 0; padding: 0px; list-style: none; border-bottom: 1px solid #c0c0c0; padding-bottom: 7px; }
/*-----------Nav----------*/
.header_col4 ul li { position: relative; }
.header_col4 ul li:hover ul { top: 15px; display: block; visibility: visible; list-style: none; }
.header_col4 ul li ul { display: none; z-index: 1000; position: absolute; left: 13px; top: 0; float: right; width: 153px; }
.header_col4 ul li ul li { display: block; background: #fff; text-align: left; padding: 3px; border-bottom: 1px dotted #CCCCCC; width: 100%; font-size: 13px; font-family: "Open Sans"; color: #fff; }
.header_col4 ul li ul li a { text-transform: uppercase; color: #000; padding: 8px 10px; line-height: none; width: 100%; font-weight: normal; background: none; position: inherit; padding: 0; float: none; line-height: 23px; }
.header_col4 ul li ul li a:hover { color: #fff; }
.header_col4 ul li ul li:hover { background-color: #0D72BA; color: #fff !important; }
/*----------------------------------------------------------------------------*/								

.menu_styl { float: left; }
.menu_styl a { float: left; font-family: "Open Sans"; font-size: 12px; color: #000; font-weight: bold; text-decoration: none; background-image: url(../images/hdr_arrow.png); background-repeat: no-repeat; position: relative; background-position: right; padding-left: 12px; padding-right: 12px; }
.menu_styl a:hover { color: #1e7eb3; }
.menu_styl_02 { float: left; }
.menu_styl_02 a { float: left; font-family: "Open Sans"; font-size: 12px; color: #000; font-weight: bold; text-decoration: none; background-image: url(../images/hdr_arrow.png); background-repeat: no-repeat; position: relative; background-position: right; padding-left: 12px; padding-right: 12px; }
.menu_styl_02 a:hover { color: #0D72BA; }
.menu_styl_03 { float: left; }
.menu_styl_03 a { float: left; font-family: "Open Sans"; font-size: 12px; color: #000; font-weight: bold; text-decoration: none; position: relative; background-position: right; padding-left: 12px; padding-right: 12px; }
.menu_styl_03 a:hover { color: #0D72BA; }
.header_col5 { margin: 14px 0 0 0; padding: 0px; list-style: none; clear: both; }
.header_col5 .nav_styl_02 { float: left; }
.nav_styl_02 a { float: left; font-family: "Open Sans"; font-size: 13px; color: #898989; text-decoration: none; position: relative; background-position: right; padding-left: 15px; padding-right: 15px; background-image: url(../images/menu_vline.jpg); background-repeat: no-repeat; }
.nav_styl_02 a:hover { color: #0D72BA; text-decoration: underline; }
.nav_styl_03 { float: left; }
.nav_styl_03 a { float: left; font-family: "Open Sans"; font-size: 12px; color: #898989; text-decoration: none; position: relative; background-position: right; padding-left: 17px; padding-right: 17px; }
.nav_styl_03 a:hover { color: #0D72BA; text-decoration: underline;}
.slider_area { height: 460px; margin-top: 160px; position: absolute; width: 100%; z-index: 99; }
.slider_row { height: auto; display: table; float: right; }
.slider_col { height: auto; width: 350px; }
.slider_col .search_outer { border-radius: 10px; border: 1px solid #c1c2bf; background: url(../images/src_img.png) no-repeat left top; width: 268px; }
.search_outer .search_box { margin: 0 auto; }
.search_box h1 { font-family: Arial, Helvetica, sans-serif; text-align: center; }
.slider { height: 460px; background-repeat: no-repeat; background-position: center top; }
.slider_range { background: url(../images/move.png); background-repeat: no-repeat; height: 42px; }
.slider_range2 { background: url(../images/bar2.png); background-repeat: no-repeat; height: 42px; }
.working_area { clear: both; }
.working_container { display: table; }
.heading_row h1 { color: #1c7aad; }
.page_list { height: auto; background: #000; border-radius: 3px;}
.even1 { background-color: #2384b8; border-radius: 3px; text-align: center; line-height: 35px; font-family: "Open Sans"; color:#fff; float:right }
.even2 { background-color: #000; }
.even3 { background: url(../images/box_bg.png); }
.odd { background-color: #fff; }
.odd1 {  color: #fff; border-radius: 3px; text-align: center; line-height: 35px; font-family: "Open Sans"; }

.working_container .cat_nav { float: left; width: 100%; height: 16px; margin: 30px 0 0 0; padding: 0px; list-style: none; padding-bottom: 7px; }
.cat_list_outer { height: auto; }
.cat_list_outer .cat_row1 { height: auto; }
.cat_col { float: left; border: 4px solid #dfdfdf; border-radius: 5px; }
.content_detials { height: auto; display: table; padding-bottom: 10px }
.cat_col h1 { font-family: "Open Sans"; font-size: 12px; color: #858585; font-weight: normal; }
.cat_col2 p { color: #959595; font-family: "Open Sans"; }
.cat_col2 { border: 1px solid #1a76a8; }
.cat_col2 .strip_1 { height: auto; display: table; }
.col_btn { height: auto; }
.view_btn { background-color: #4b4b4b; border-radius: 5px; box-shadow: 0px 8px 6px -6px #bfbfbf }
.view_btn_01 { background-color: #4b4b4b; border-radius: 5px; box-shadow: 0px 3px 8px 1px #bfbfbf }
.view_btn_02 { background: #05abe0; /* Old browsers */ background: -moz-linear-gradient(top, #05abe0 0%, #0d72ba 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05abe0), color-stop(100%, #0d72ba)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #05abe0 0%, #0d72ba 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #05abe0 0%, #0d72ba 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #05abe0 0%, #0d72ba 100%); /* IE10+ */ background: linear-gradient(to bottom, #05abe0 0%, #0d72ba 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#0d72ba', GradientType=0 ); /* IE6-9 */
border-radius: 5px; -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; box-shadow: 0 8px 6px -6px black; }
/*.view_btn { 
	background-image:url(../images/view_property2.png); background-repeat:no-repeat;
}
*/


/*.view_btn_02 { 
	background-image:url(../images/view_property.png); background-repeat:no-repeat;
}
*/







/********/


.prop { margin: 0; }
.prop h1 { color: #1c7aad; ; font-size: 26px; }
.detail { margin: 0; }
.detail ul { margin: 0; padding: 0; list-style: none; }
.detail ul li { float: left; font-family: "Open Sans"; font-size: 12px; color: #000; font-weight: bold; border-right: 1px solid #000; padding-right: 8px; padding-left: 4px; }
.detail ul li.no { border: none; }
.detail p { float: right; font-family: "Open Sans"; font-size: 12px; color: #000; font-weight: bold; }
.pics { margin: 20px 0 0 0; }
.pics ul { margin: 0; padding: 0; list-style: none; }
.pics ul li { float: left; font-family: "Open Sans"; font-size: 14px; color: #1c7aad; font-weight: bold; width: 24% }
.new_slider { margin-left: 25px;}
.icon { float: left; width: 56%; margin: 29px 0 0 28px; }
.icon p img { margin-right: 6px; width: 20px; }
.icon p { font-family: "Open Sans"; font-size: 15px; color: #000; font-weight: bold; margin-bottom: 6px; }
.icon2 { float: left; margin: 29px 0 0 28px; }
.icon2 p img { margin-right: 6px; width: 20px; }
.icon2 p { font-family: "Open Sans"; font-size: 15px; color: #000; font-weight: bold; margin-bottom: 6px; }
.disc { margin: 8px 0 0 25px; }
.disc h1 { font-family: "Open Sans"; font-size: 20px; color: #000; margin-bottom: 12px; }
.disc p { font-family: "Open Sans"; font-size: 12px; color: #000; margin-bottom: 12px; float: left; }
.disc_new_para p { font-family: "Open Sans"; font-size: 12px; color: #999999; margin-bottom: 12px; float: left; padding-left:25px;}
.disc a.read { font-family: "Open Sans"; font-size: 12px; color: #98c6ea; text-decoration: none; float: right; font-weight: bold; }
.adi { float: left; width: 100%; }
.adi ul { margin: 0; padding: 0; list-style: none; }
.adi ul li { font-size: 24px; color: #1062ae; font-family: "Open Sans"; border-bottom: 2px dotted #1062ae; width: 100%; padding-bottom: 8px; margin-bottom: 9px; }
.adi ul li img { margin-left: 10px; }
.hie { margin: 0; }
/*************/



.view { float: left; padding-top: 0px; padding-bottom: 15px; text-align: center; }
.view2 { float: left; padding-top: 7px; padding-bottom: 15px; text-align: center; }
.view3 { float: left; padding-top: 15px; padding-bottom: 15px; text-align: center; }
.view a { font-family: "Open Sans"; }
.form_table { width: 100%; height: auto; }
.form_row { height: auto; }
.form_col { position: relative; }
.share_bar { height: auto; margin-left: 5%; border-top: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf; }
.share { width: 80%; height: 50px; margin: 0 auto; }
.twt { background-color: #f0f4f7; text-align: center; line-height: 25px; }
.list_pannel { border: 5px solid #3366cc; border-radius: 1px; background: #d2d2d2; }
.list_pannel_row { height: auto; position: relative; }
.list_pannel_col1 { font-family: "Open Sans"; height: auto; position: relative; }
.list_pannel_col1 h1 { color: #0088cc; font-family: "Open Sans"; }
.list_pannel_col1 h1 { height: auto; position: relative; }
.testimonial_wrp { width: 100%; height: auto; }
.testimonial_wrp .testimonial_wrp_row1 { width: 100%; height: auto; }
.testimonial_wrp .testimonial_col1 { background-color: #f4f4f4; min-height: 215px; }
.testimonial_wrp .testimonial_col2 { background-color: #f4f4f4; min-height: 215px; }
 ..testimonial_col2 .testimonial_col3 {
 height:auto;
}
.testimonial_col3 p { font-family: "PT Sans"; font-size: 14px; }
.security_outer { width: 100%; height: auto; }
.security_outer .security_row1 { height: auto; }
.security_col1 { background-color: #f4f4f4; min-height: 215px; }
.security_col1 h2 { font-family: "Open Sans"; padding: 25px 0 0 11px; }
.security_col1 .security_box1 { border-top: 1px solid #0088cc; min-height: 100px; }
.security_box1 .box1_content p { font-family: "PT Sans"; }
.box1_content h1 { font-family: "Open Sans"; color: #000; font-weight: normal; }
.pannel5 { background-color: #f4f4f4; }
.pannel5 .pannel5_row1 { margin: 0 auto; }
.pannel5_col1 h1 { font-family: "Open Sans"; color: #343333; font-weight: normal; }
.pannel5_col1 p { font-family: "PT Sans"; color: #747474; }
.footer_bg { width: 100%; height: auto; background-color: #585757; border-bottom: 1px solid #616060; position: absolute; }
.ftr_outer { height: auto; margin: 0 auto; margin-top: 20px; padding-bottom: 20px; display: table; }
.ftr_menu_box { height: auto; margin-right: 0px; }
.ftr_list h1 { float: left; font-family: "Open Sans"; width: 250px; font-size: 14px; color: #FFF; padding-bottom: 8px; }
.ftr_nav { float: left; width: 350px; margin: 0px; padding: 0 0 0 10px; list-style:none;  }
.ftr_nav_styl {  background: url("../images/footer_bg.jpg") no-repeat 0 6px ;
    color: #FFFFFF;
    float: left;
    font-family: "Open Sans";
    font-size: 12px;
   
    padding: 0 15px;
    width: 250px;}
.ftr_nav_styl a { font-family: "Open Sans"; font-size: 12px; color: #FFF; line-height: 10px; text-decoration: none; }
.ftr_nav_styl a:hover { font-family: "Open Sans"; text-decoration: underline; }
.copyright_bg { float: left; width: 100%; height: 68px; background-image: url(../images/copyright_bg.jpg); background-repeat: repeat-x; }
.ftr_inner { height: 68px; margin: 0 auto; }
.molina a { float: left; font-family: "Open Sans"; font-size: 12px; color: #FFF; font-weight: bold; text-decoration: none; padding-top: 28px; }
.copyright_info p { float: left; font-family: "Open Sans"; font-size: 12px; color: #FFF; font-weight: bold; text-decoration: none; padding-top: 28px; padding-left: 20px; }

.copyright_info img { float: left; font-family: "Open Sans"; font-size: 12px; color: #FFF; font-weight: bold; text-decoration: none; padding: 10px 25px; }
.ff { font-family: "Open Sans"; }
.fs8 { font-size: 8px; }
.fs9 { font-size: 9px; }
.fs10 { font-size: 10px; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs24 { font-size: 24px; }
.fleft { float: left; }
.fright { float: right; }
.even { background-color: #f4f4f4; }
.wc0 { width: 0px; }
.wc6 { width: 6%; }
.wc8 { width: 8%; }
.wc10 { width: 10%; }
.wc20 { width: 20%; }
.wc25 { width: 25%; }
.wc30 { width: 30%; }
.wc31 { width: 31%; }
.wc32 { width: 32.5%; }
.wc34 { width: 34%; }
.wc36 { width: 36%; }
.wc40 { width: 40%; }
.wc41 { width: 41%; }
.wc43 { width: 43%; }
.wc44 { width: 44%; }
.wc45 { width: 45%; }
.wc47 { width: 47%; }
.wc50 { width: 50%; }
.wc56 { width: 56%; }
.wc60 { width: 60%; }
.wc62 { width: 62%; }
.wc64 { width: 64%; }
.wc66 { width: 66%; }
.wc65 { width: 65%; }
.wc70 { width: 70%; }
.wc72 { width: 72%; }
.wc75 { width: 75%; }
.wc78 { width: 78%; }
.wc80 { width: 80%; }
.wc82 { width: 82%; }
.wc84 { width: 84%; }
.wc87 { width: 87%; }
.wc89 { width: 89%; }
.wc90 { width: 90%; }
.wc94 { width: 94%; }
.wc95 { width: 95%; }
.wc98 { width: 98%; }
.wc99 { width: 98.5%; }
.wc100 { width: 100%; }
.wc22 { width: 22.6%; }
.wc37 { width: 37.88%; }
.mnw10 { min-width: 10%; }
.mnw80 { min-width: 80%; }
.mnw90 { min-width: 90%; }
.maxwc1000 { max-width: 1000px; }
.hpx { height: 25px; }
.h10 { min-height: 10px; }
.h20 { min-height: 20px; }
.h25 { min-height: 25px; }
.h30 { min-height: 30px; }
.h35 { min-height: 35px; }
.h38 { min-height: 38px; }
.h41 { min-height: 41px; }
.h45 { min-height: 45px; }
.h51 { height: 51%; }
.h75 { min-height: 75px; }
.h81 { min-height: 81px; }
.h98 { min-height: 98px; }
.h100 { min-height: 100px; }
.h148 { min-height: 148px; }
.h400 { min-height: 400px; }
.lh25 { line-height: 25px; }
.hpx25 { height: 25px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.eh1 { height: 1px; }
.pb10 { padding-bottom: 10px; }
.pb12 { padding-bottom: 12px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }
.pt1 { padding-top: 1px; }
.pt2 { padding-top: 2px; }
.pt3 { padding-top: 3px; }
.pt4 { padding-top: 4px; }
.pt5 { padding-top: 5px; }
.pt6 { padding-top: 6px; }
.pt7 { padding-top: 7px; }
.pt8 { padding-top: 8px; }
.pt9 { padding-top: 9px; }
.pt10 { padding-top: 10px; }
.pt13 { padding-top: 13px; }
.pt20 { padding-top: 20px; }
.pt24 { padding-top: 24px; }
.pt35 { padding-top: 35px; }
.pl1 { padding-left: 1px; }
.pl2 { padding-left: 2px; }
.pl3 { padding-left: 3px; }
.pl4 { padding-left: 4px; }
.pl5 { padding-left: 5px; }
.pl6 { padding-left: 6px; }
.pl7 { padding-left: 7px; }
.pl8 { padding-left: 8px; }
.pl9 { padding-left: 9px; }
.pl10 { padding-left: 10px; }
.pl14 { padding-left: 14px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl35 { padding-left: 35px; }
.plp8 { padding-left: 8%; }
.mg1 { margin-top: 1px; }
.mg4 { margin-top: 4px; }
.mg5 { margin-top: 5px; }
.mg7 { margin-top: 7px; }
.mg10 { margin-top: 10px; }
.mg9 { margin-bottom: 9px; }
.mg12 { margin-top: 12px; }
.mg17 { margin-top: 17px; }
.mg20 { margin-top: 20px; }
.mg22 { margin-top: 22px; }
.mg30 { margin-top: 30px; }
.mg33 { margin-top: 33px; }
.mg40 { margin-top: 40px; }
.mg45 { margin-top: 45px; }
.mg50 { margin-top: 50px; }
.mg95 { margin-top: 95px; }
.mg98 { margin-top: 98px; }
.mb20 { margin-bottom: 20px; }
.mr6 { margin-right: 6px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 2%; }
.mr34 { margin-right: 3.4%; }
.mr407 { margin-right: 407px; }
.mauto { margin: 0 auto; }
.ml1 { margin-left: 1%; }
.ml2 { margin-left: 2px; }
.ml5 { margin-left: 5px; }
.ml8 { margin-left: 8px; }
.ml10 { margin-left: 10px; }
.ml13 { margin-left: 13.6%; }
.ml20 { margin-left: 20px; }
.ml21 { margin-left: 21px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml34 { margin-left: 34px; }
.ml37 { margin-left: 37px; }
.ml40 { margin-left: 40px; }
.ml49 { margin-left: 49px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml70 { margin-left: 70px; }
.ml80 { margin-left: 80px; }
.ml85 { margin-left: 85px; }
.ml94 { margin-left: 94px; }
.pr4 { padding-right: 4%; }
.mlp45 { margin-left: 45%; }
.clrblk { color: #000; }
.clrwht { color: #FFF !important; }
.clrwht a { color: #FFF !important; text-decoration: none; font-family: "Open Sans"; }
.clrgray { color: #959595 !important; }
.clrgray a { color: #959595 !important; text-decoration: none; font-family: "Open Sans"; }
.spanclr { color: #0088cc; }
input[type="text"] { font-family: "Open Sans"; }
input.bg { border-bottom: 2px solid #3d4148; background-color: #12151a; padding-left: 8px; color: #FFF; border-radius: 5px; border-top: none; border-right: none; border-left: none; margin-bottom: 9px; }
.search input { font-family: "Open Sans"; padding-left: 8px; color: #999; border-radius: 2px; background: #f4f4f4; }
input[type="submit"] { cursor: pointer; font-family: "Open Sans"; background: #cdcdcd; border: none; width: 76px; box-shadow: 0px 3px 8px 1px #818181; }
.search input { font-family: "Open Sans"; padding-left: 8px; color: #999; border-radius: 2px; background: #f4f4f4; }
input[type="submit1"] { cursor: pointer; font-family: "Open Sans"; background: #323232; border: none; width: 76px; box-shadow: 0px 3px 8px 1px #818181; color: #3366cc;  }

.src_ne { font-size: 16px; color: #3366cc; font-family: "Open Sans"; }
.form_col label { font-size: 70%; color: #0D72BA; font-size: 15px; font-family: "Open Sans"; }
.wthborder { border: 1px solid #e2e2e2; border-radius: 5px; }
.wthborder:hover { border: 1px solid #0D72BA; }
.outborder { border: none; }
.header-right { float: right; height: 52px; margin-top: 27px; }
.fb { font-weight: bold; }
.fw { font-weight: normal; }
h1 { font-family: "Open Sans"; }
.ffarial { font-family: Arial, Helvetica, sans-serif; }
/*--------------------------------------------------------------------------------- */
/* search page css start here */

.lft_side { background-color: #f4f4f4; height: auto; padding: 22px 0 0 10px; width: 23%; height: 702px; }
.lft_side h1 { font-size: 18px; font-family: "Open Sans"; color: #508dda; margin-left: 2% }
.login_wrapper { width: 89%; height: 30px; background: #f4f4f4; background-repeat: repeat; padding: 0px; border-radius: 8px; padding: 10px 0 0 10px; margin-bottom: 18px; border: 1px solid #dde2e4; position: relative; margin-left: 2%; }
.login_wrapper img { float: right; margin-right: 12px; }
.lft_side a.res { width: 96%; text-decoration: none; background: #348ebe; text-align: center; font-size: 14px; font-family: "Open Sans"; color: #fff; float: left; padding: 14px 0 14px 0; border-radius: 5px; }
.lft_side a.set { float: left; font-size: 11px; font-family: "Open Sans"; color: #615f5f; text-decoration: none; padding-top: 7px; font-weight: bold; }
.loginbox { border: 0px; background-color: #f4f4f4; position: absolute; top: 0; left: 0; width: 79%%;
height: 40px; font-size: 14px; font-family: "Open Sans"; color: #787878; outline: none; padding-left: 10px; color: #fff; }
.add h1 { background: #4c4c4c; width: 93%; color: #e2e2e2; font-size: 12px; padding: 6px 0 6px 17px; margin: 0; }
.size { width: 88%; height: 134px; background: #fff; margin: 4px auto 0; padding: 9px 0 0 19px; }
.size h2 { background: url(../images/arr.png) no-repeat left center; padding: 0 0 0 14px; font-size: 12px; color: #383838; line-height: 27px; float: left }
.value { float: left; width: 100%; }
.min-value { width: 60px; height: 34px; }
.value span { font-size: 10px; color: #636262; font-family: "Open Sans"; line-height: 32px; }
.value span.to { color: #636262; font-family: "Open Sans"; font-size: 12px; line-height: 32px; padding-left: 5px; font-weight: bold; padding-right: 2px; }
.size { width: 88%; height: 134px; background: #fff; margin: 4px auto 0; padding: 9px 0 0 19px; }
.size h2 { background: url(../images/arr.png) no-repeat left center; padding: 0 0 0 14px; font-size: 12px; color: #383838; line-height: 27px; float: left }
.value { float: left; width: 100%; }
.min-value { width: 60px; height: 34px; }
.value span { font-size: 10px; color: #636262; font-family: "Open Sans"; line-height: 32px; }
.value span.to { color: #636262; font-family: "Open Sans"; font-size: 12px; line-height: 32px; padding-left: 5px; font-weight: bold; padding-right: 2px; }
.move { margin-left: -11px; margin-top: 26px; }
.srch { float: left; width: 100%; }
.dff_manu { width: 88%; height: 26px; background: #fff; margin: 4px auto 0; padding: 0 0 0 19px; }
.dff_manu h2 { background: url(../images/plus_h.png) no-repeat left center; padding: 0 0 0 14px; font-size: 12px; color: #383838; line-height: 27px; float: left }
.boxs_bg { background: url(../images/bg_star.png) no-repeat 3px 15px; }
/* search page css end here */




/*--------------------------------------------------------------------------------- */
/* search page css start here */

.lft_side { background: url(../images/tab_bg.png) no-repeat left top; padding: 7px 0 0 10px; width: 23%; height: 588px; }
.lft_side h1 { font-size: 18px; font-family: "Open Sans"; color: #508dda; margin-left: 2% }
.login_wrapper { width: 89%; height: 25px; background: #fff; background-repeat: repeat; padding: 0px; border-radius: 0px; padding: 10px 0 0 10px; margin-bottom: 6px; border: 1px solid #dde2e4; position: relative; margin-left: 2%; }
.login_wrapper img { float: right; margin-right: 0px; margin-top: -9px; }
.lft_side a.res { width: 96%; text-decoration: none; background: #348ebe; text-align: center; font-size: 14px; font-family: "Open Sans"; color: #fff; float: left; padding: 14px 0 14px 0; border-radius: 5px; }
.lft_side a.set { float: left; font-size: 11px; font-family: "Open Sans"; color: #615f5f; text-decoration: none; padding-top: 2px; font-weight: bold; width: 100%; text-align: center; padding-bottom: 7px; }
.lft_side a.set span { color: #F00; }
.loginbox { border: 0px; background-color: #fff; position: absolute; top: 0; left: 0; width: 79%; height: 35px; font-size: 14px; font-family: "Open Sans"; color: #787878; outline: none; padding-left: 10px; color: #000; }
.add { float: left; width: 105%; margin: 0 0 0 -10px; }
.add h1 { background: #999999; width: 88.2%; color: #e2e2e2; font-size: 12px; padding: 6px 0 6px 17px; margin: 0 0 0 6px; }
.size { width: 99%; float: left; background: #eeeded; margin: 4px auto 0; padding: 1px 0 0 3px; }
.size h2 { background: url(../images/arr.png) no-repeat left center; padding: 0 0 0 14px; font-size: 12px; color: #383838; line-height: 27px; float: left; width: 94%; margin-top: -1px; margin-left: -2px; background-color: #fff }
.value { float: left; width: 100%; margin-top: 15px; margin-left: 9px; }
.min-value { width: 66px; height: 34px; }
.value span { font-size: 10px; color: #636262; font-family: "Open Sans"; line-height: 32px; }
.value span.to { color: #636262; font-family: "Open Sans"; font-size: 12px; line-height: 32px; padding-left: 0px; font-weight: bold; padding-right: 14px; }
.move { margin-left: -9px; margin-top: 8px; background: url(../images/lft_br.png) no-repeat left top; width: 216px; height: 42px; padding: 1px 0 0 0; }
.srch { float: left; width: 100%; }
.dff_manu { width: 87%; height: 26px; background: #fff; margin: 1px auto 0; padding: 0 0 0 19px; }
.dff_manu h2 { background: url(../images/plus_h.png) no-repeat left center; padding: 0 0 0 14px; font-size: 12px; color: #383838; line-height: 27px; float: left }
.lft_tab { float: left; width: 100%; margin-left: -4px; }
.lft_tab ul { margin: 0; padding: 0; list-style: none; }
.lft_tab ul li { float: left; margin-right: 8px; }
.lft_tab ul li a { background: #fff; width: 80px; text-align: center; font-size: 9px; font-family: "Open Sans"; color: #000; float: left; padding: 10px 0 10px 0; text-decoration: none; font-weight: bold; }
lft_tab ul li a.active, .lft_tab ul li a:hover, .lft_tab ul li.ui-state-active a { background: #3366cc; color: #fff; }
.all { float: left; }
.bg_ar { float: left; background: #fff; width: 100%; margin-left: -4px; }
.inv { display: block; font-size: 14px; color: #ccc; font-weight: 700; line-height: 30px; text-align: center; text-decoration: none; background: url(../images/btn_bg.jpg) repeat; border-radius: 2px; float: left; margin: 0 10px; padding: 5px 4px; margin: 0 1px 0px; width: 216px; }
.inv a { font-size: 14px; color: #ccc; padding: 5px 35px; text-decoration: none; background: #4c4c4c; background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #131313)); background: -webkit-linear-gradient(top, #4c4c4c 0%, #131313 100%); background: -o-linear-gradient(top, #4c4c4c 0%, #131313 100%); background: -ms-linear-gradient(top, #4c4c4c 0%, #131313 100%); background: linear-gradient(to bottom, #4c4c4c 0%, #131313 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
border: 1px solid #000; border-radius: 2px; }
/* search page css end here */

/*--------------------------------------------------------------------------------- */
/* search page css start here */
.wc23 { width: 23%; min-height: 606px; }
.lft_side .lft_side_row1 { height: auto; }
.lft_side_col1 { height: auto; }
.narrow_result h1 { color: #277ad6; }
.ml16 { margin-left: 16px; }
.form_col_2 label { font-family: "Open Sans"; font-size: 90%; display: block; }
input[type="checkbox"] { cursor: pointer; }
.tab_1 { background-color: #2e89b9; }
.tab_2 { background-color: #4b4b4b; box-shadow: 0px 3px 8px 1px #bfbfbf; }
.tab_col1 { background-color: #f4f4f4; font-family: "Open Sans"; height: auto; }
.tab_col1 .tab_menu { margin: 0px; padding: 0px; list-style: none; }
.tab_menu .tab_menu_styl { float: left; margin: 2px 0 0 0; padding: 0px; }
.tab_menu_styl a { color: #2a2b2c; font-weight: bold; text-decoration: none; line-height: 30px; margin-left: 20px; }
.tab_menu_styl a:hover { color: #2e89b9; text-decoration: underline; }
h3 { font-family: "Open Sans"; }
.lft_side_col2 h3 { height: auto; font-family: "Open Sans"; line-height: 30px; }
.lft_side_col3 p { height: auto; font-family: "Open Sans"; }
.pre { width: 15%; margin: 98px auto 0; }
.dotdborder { border-bottom: 1px dotted #000; }
.dotdnone { border-bottom: none; }
.txt_rght { text-align: right; }
.txt_center { text-align: center; }
/********Neighborhoods*********/
.communityLandingItemWrapper { position: relative; cursor: pointer; width: 240px; height: 320px; float: left; margin-right: 6px; margin-bottom: 22px; }
#contentRight .communityLandingItemWrapper.edge { margin-right: 0; }
#contentRight .communityLandingItemWrapper .overlay { background: url(/images/dave-perry-miller/bg-WhiteTrans.png) repeat; background: rgba(255,255,255,.8); position: absolute; bottom: 0; left: 0; }
#contentRight .communityLandingItemWrapper .overlay a { text-decoration: none; }
#contentRight .communityLandingItemWrapper .overlay h4 { color: #04658B; font-family: "Georgia", serif; font-size: 14px; height: 55px; line-height: 45px; padding-left: 6px; width: 240px; }
#contentRight .communityLandingItemWrapper .overlay a p { display: none; color: #827c6e; line-height: 100%; height: 272px; padding: 0 10px 0 6px; margin-bottom: 0; position: relative; top: 10px; }
/*************/	
.newtxt { color: #3366cc; font-family: "open Sans"; font-size: 13px; margin-left: 0px; }
/* Button HTML */

#learn_more { display: block; font-size: 14px; color: #ccc; font-weight: 700; line-height: 30px; text-align: center; text-decoration: none; background: url(../images/btn_bg.jpg) repeat; border-radius: 2px; float: left; margin: 0 10px; padding: 5px 4px; margin: 0 1px 10px; }
#learn_more a { font-size: 14px; color: #ccc; padding: 5px 4px; text-decoration: none; background: #4c4c4c; /* Old browsers */ background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #131313)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* IE10+ */ background: linear-gradient(to bottom, #4c4c4c 0%, #131313 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); /* IE6-9 */
border: 1px solid #000; border-radius: 2px; }
#learn_more a:hover { color: #fff; text-shadow: 1px 1px 1px #000; }

#learn_more2 { display: block; font-size: 14px; color: #ccc; font-weight: 700; line-height: 30px; text-align: center; text-decoration: none; background: url(../images/btn_bg.jpg) repeat; border-radius: 2px; float: left; margin: 0 10px; padding: 5px 22px; margin: 0 1px 10px;}
#learn_more2 a { font-size: 14px; color: #ccc; padding: 5px 22px; text-decoration: none; background: #4c4c4c; /* Old browsers */ background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #131313)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* IE10+ */ background: linear-gradient(to bottom, #4c4c4c 0%, #131313 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); /* IE6-9 */
border: 1px solid #000; border-radius: 2px; background: url(../images/pdf.png); background-repeat:no-repeat; background-position:right;}
#learn_more2 a:hover { color: #fff; text-shadow: 1px 1px 1px #000; }

#about_favorite { display: block; font-size: 14px; color: #ccc; font-weight: 700; line-height: 30px; text-align: center; text-decoration: none; background: url(../images/btn_bg.jpg) repeat; border-radius: 2px; float: left; margin: 0 10px; padding: 5px 22px; margin: 0 1px 10px;}
#about_favorite a { font-size: 14px; color: #ccc; padding: 5px 30px; text-decoration: none; background: #4c4c4c; /* Old browsers */ background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #131313)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* IE10+ */ background: linear-gradient(to bottom, #4c4c4c 0%, #131313 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); /* IE6-9 */
border: 1px solid #000; border-radius: 2px; background: url(../images/star.png); background-repeat:no-repeat; background-position:left;}
#about_favorite a:hover { color: #fff; text-shadow: 1px 1px 1px #000;}

#schedule { display: block; font-size: 14px; color: #ccc; font-weight: 700; line-height: 30px; text-align: center; text-decoration: none; background: url(../images/btn_bg.jpg) repeat; border-radius: 2px; float: left; margin: 0 10px; padding: 5px 10px; margin: 0 1px 10px;}
#schedule a { font-size: 14px; color: #ccc; padding: 5px 23px; text-decoration: none; background: #4c4c4c; /* Old browsers */ background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #131313)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* IE10+ */ background: linear-gradient(to bottom, #4c4c4c 0%, #131313 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); /* IE6-9 */
border: 1px solid #000; border-radius: 2px; background: url(../images/time.png); background-repeat:no-repeat; background-position:right;}
#schedule a:hover { color: #fff; text-shadow: 1px 1px 1px #000; }
/*-------read more css start here(ghani)-------------*/
.pannel5_row1 a.read { font-family: "Open Sans"; color: #fff; border-radius: 5px; box-shadow: 0px 0px 0px 0px #bfbfbf; background: #07a3f2; width: 18%; margin-top: 36px; margin-left: 80px; text-align: center; padding: 6px 0 6px 0; text-decoration: none; /* Old browsers */ background: -moz-radial-gradient(center, ellipse cover, #07a3f2 0%, #0d72ba 100%); /* FF3.6+ */ background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #07a3f2), color-stop(100%, #0d72ba)); /* Chrome,Safari4+ */ background: -webkit-radial-gradient(center, ellipse cover, #07a3f2 0%, #0d72ba 100%); /* Chrome10+,Safari5.1+ */ background: -o-radial-gradient(center, ellipse cover, #07a3f2 0%, #0d72ba 100%); /* Opera 12+ */ background: -ms-radial-gradient(center, ellipse cover, #07a3f2 0%, #0d72ba 100%); /* IE10+ */ background: radial-gradient(ellipse at center, #07a3f2 0%, #0d72ba 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07a3f2', endColorstr='#0d72ba', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.pannel5_row1 a.read:hover { border: 1px solid #0D72BA; }
#learn_morebox { display: block; font-size: 14px; color: #ccc; line-height: 30px; text-align: center; text-decoration: none; background: url(../images/btn_bg.jpg) repeat; border-radius: 2px; float: left; margin: 0 10px; padding: 5px 4px; margin: 0 1px 10px; }
#learn_morebox a { font-size: 14px; color: #ccc; padding: 5px 4px; text-decoration: none; background: #4c4c4c; /* Old browsers */ background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #131313)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* IE10+ */ background: linear-gradient(to bottom, #4c4c4c 0%, #131313 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); /* IE6-9 */
border: 1px solid #000; border-radius: 2px; }
#learn_morebox a:hover { color: #fff; text-shadow: 1px 1px 1px #000; }

/*-------testimonial blog css start here(usman)-------------*/
.testimonial_blog {float:left; width:100%; height:auto; padding-bottom:20px;}
.new_box {float:left; width:500px; height:607px; background-image:url(../images/shade_box.png); background-repeat:no-repeat;}
.new_box_inner {float:left; width:480px; height:auto; margin-left:10px;}
.new_box_hd h1{float:left; width:480px; color:#FFF; font-size:20px; padding-left:5px; padding-top:10px;}
.img_area {float:left; width:480px; height:236px; border-top:1px solid #3366cc; border-bottom:1px solid #3366cc;}
.new_box_para p{ width:200px; color:#FFF; font-family:"Open Sans"; font-size:12px; color:#d5d5d5;}
span.view_property a{float:left; font-family:"Open Sans"; color:#3366cc; text-decoration:none; margin-top:7px; font-weight:bold; clear:both; font-style:italic;}
.testimonial_box {float:left; width:500px; height:607px; background-image:url(../images/testimonial_box.png); background-repeat:no-repeat; margin-top:30px;}
.comma_img {float:left; margin-top:10px;}
.comma_img h1{float:left; color:#3366cc; font-style:italic; font-size:20px; padding-left:5px;}
.up_arrow_outer {float:left; width:285px; height:43px; margin-left:230px; margin-top:-15px;}
.small_box_outer {float:left; width:480px; height:auto;}
.small_box1 {float:left; width:212px; height:246px; background-image:url(../images/small_box1.png); background-repeat:no-repeat;}
.img_001 {float:left; margin-top:12px; margin-left:15px;}
.small_box1 h1{float:left; font-size:14px; color:#FFF; padding-left:14px; padding-top:10px;}
.new_para2 p{float:left; width:250px; font-size:16px; font-family:"Open Sans"; color:#666666; padding-top:10px; padding-left:10px; letter-spacing:0.5px;}
.new_para2 h1{float:left; color:#3366cc; font-size:16px; font-weight:bold; padding:0 0 0 10px; margin:0px;}
/*-------testimonial blog css end here(usman)-------------*/


/*-------read more css end here(ghani)-------------*/	
.more { padding-left: 12px; }
.detail_bnr { float: left; margin: 0 0 18px 0; width: 100%; }
.detail_bnr img { width: 98%; }
@media only screen and (max-width: 900px) {
.cat_col { float: left; border: 4px solid #dfdfdf; border-radius: 5px; width: 21.6% }
}
 @media only screen and (max-width:770px) {
.cat_list_outer { height: auto; width: 73%; margin: 0 auto; display: table; float: none; }
.cat_col { float: left; border: 4px solid #dfdfdf; border-radius: 5px; width: 43.6%; }
.new { margin-left: 6px; }
}
@media only screen and (max-width:770px) {
.header_col4 { width: 70%; float: none; display: none; }
.header_col3 { float: left; }
.logo { margin-top: 33px; margin-bottom: 0; }
.header_row2 { display: table; width: 42%; }
}
 @media only screen and (max-width:700px) {
.new_ar { width: 77%; }
.list_pannel_col1 { font-family: "Open Sans"; height: auto; position: relative; width: 56%; margin: 0 auto; float: none; }
.list_pannel_row { height: auto; position: relative; width: 100%; }
.testimonial_wrp { display: none; }
.share_bar { display: none; }
.header_col1 { display: none; }
.header_row1 { margin: 0 auto; height: auto; display: table; width: 80%; }
.header_col2 { float: none; }
 @media only screen and (max-width:650px) {
 .cat_col2 {
 border: 1px solid #1a76a8;
 width:100%;
 margin: 0 0 2% 0;
}
}
